<header>
    <div class="header__main">
        <div class="main__logo">
            <div class="logo">
                <div class="logo__name">
                    <p class="name1">LUX</p>
                    <p class="name2">auto</p>
                </div>
                <div class="logo__desc">
                    Оренда автомобілів
                </div>
            </div>
        </div>
        <div class="main__sign">
            <button class="sign__In">Sign In</button>
            <button class="sign__register">Register</button>
            <select name="lang">
                <option disabled selected value="Мова">Мова</option>
                <option value="Українська">Українська</option>
                <option value="English">English</option>
            </select>
        </div>
    </div>
    <div class="header__menu">
        <div class="menu__btns">
            <button>
                <span class="line-top"></span>
                <span class="line-right"></span>
                <span class="line-bottom"></span>
                <span class="line-left"></span>
                ГОЛОВНА</button>
            <button>
                <span class="line-top"></span>
                <span class="line-right"></span>
                <span class="line-bottom"></span>
                <span class="line-left"></span>
                СЕРВІСИ</button>
            <button>
                <span class="line-top"></span>
                <span class="line-right"></span>
                <span class="line-bottom"></span>
                <span class="line-left"></span>
                ОРЕНДА АВТО</button>
            <button>
                <span class="line-top"></span>
                <span class="line-right"></span>
                <span class="line-bottom"></span>
                <span class="line-left"></span>
                АКЦІЇ</button>
            <button>
                <span class="line-top"></span>
                <span class="line-right"></span>
                <span class="line-bottom"></span>
                <span class="line-left"></span>
                ПРАВИЛА</button>
            <button>
                <span class="line-top"></span>
                <span class="line-right"></span>
                <span class="line-bottom"></span>
                <span class="line-left"></span>
                КОНТАКТИ</button>
        </div>
        <div class="menu__search">
            <form action="">
                <input type="text" name="search">
                <input type="button" value="S">
            </form>
        </div>
    </div>
</header>
<img src="../../../assets/images/header-back.jpg" alt="">
<h1>dsadsadsa</h1>