<header>
    <div class="header__main">
        <div class="main__logo">
            <div class="logo">
                <div class="logo__name">
                    <p class="name1">LUX</p>
                    <p class="name2">auto</p>
                </div>
                <div class="logo__desc">
                    Оренда автомобілів
                </div>
            </div>
        </div>
        <div class="main__sign">
            <button class="sign__In">Sign In</button>
            <button class="sign__register">Register</button>
            <select name="lang">
                <option disabled selected value="Мова">Мова</option>
                <option value="Українська">Українська</option>
                <option value="English">English</option>
            </select>
        </div>
    </div>
    <div class="header__menu">
        <div class="menu__btns">
            <button>Головна</button>
            <button>Сервіси</button>
            <button>Оренда авто</button>
            <button>Акції</button>
            <button>Правила</button>
            <button>Контакти</button>
        </div>
        <div class="menu__search">
            <form action="">
                <div class="form">
                    <input type="text" name="search">
                    <input type="button" value="S">
                </div>

            </form>
        </div>
    </div>
</header>
<img src="../../../assets/images/header-back.jpg" alt="">
<h1>dsadsadsa</h1>