@font-face {
    font-family: 'Inter';
    src: url('../../../assets/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../../../assets/Inter/static/Inter-Bold.ttf');
}